<div ng-controller="AuthController as auth">

  <form ng-submit="auth.login(user)">
    <label>Username/Email
      <input type="text" name="email" ng-model="user.email" oninvalid="this.setCustomValidity('Please enter your username or email or click signup below')"
      oninput="setCustomValidity('')" required>
    </label>

    <label>Password
      <input type="password" name="password" ng-model="user.password" oninvalid="this.setCustomValidity('Password cannot be left blank')"
      oninput="setCustomValidity('')" required>
    </label>

    <button type="submit" name="button">Login</button>
    <a ui-sref="signup">Signup!</a>
  </form>

</div>
