<div ng-controller="AuthController as auth">

  <form ng-submit="auth.signup(user)">
    <label>Name
      <input type="text" ng-model="user.name" required>
    </label>

    <label>Email
      <input type="text" ng-model="user.email" required>
    </label>

    <label>Username
      <input type="text" ng-model="user.username" required>
    </label>

    <label>Password
      <input ng-hide="showPass" type="password" ng-model="user.password" required>
      <input ng-show="showPass" type="text" ng-model="user.password">
    </label>


    <label>Show password:
      <input type="checkbox" ng-model="showPass">
    </label>

    <button type="submit" name="button">Login</button>
  </form>

</div>
